html {
  height: 100vh;
}
@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Open Sans;
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
}

.title {
  text-decoration: none;
}

#quiz {
  text-indent: 10px;
  display: none;
}

.button {
  border: 4px solid;
  border-radius: 5px;
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  float: right;
  background-color: #dcdcdc;
  color: black;
  margin: 0 2px 0 2px;
}

.button.active {
  background-color: #f8f8ff; /*ghost white*/
  color: #525252; /*almost black*/
}

button {
  position: relative;
  float: right;
}

button:hover {
  text-decoration: none;
  color: white;
}

button a:hover {
  text-decoration: none;
  color: white;
}

#container {
  width: 80%;
  margin: 5% 20% 6% 23%;
  padding: 0 10px 40px 10px;
  /*background-color: #1E90FF;*/
  /*border: 4px solid #4e90ec;*/
  border-radius: 5px;
  /*color: #FFFFFF;*/
  font-weight: bold;
  box-shadow: 5px 5px 5px #888;
}

#containerInner {
  width: 90%;
  margin: auto;
  /*padding: 0 25px 40px 10px;*/
  padding: 10px;
  /*background-color: #1E90FF;*/
  border: 2px solid white; /*grey*/
  border-radius: 5px;
  /*color: #FFFFFF;*/
  font-weight: bold;
  /*box-shadow: 5px 5px 5px #888;*/
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#prev {
  display: none;
}

#start {
  display: none;
  width: 150px;
}
/*mostly from articlesmain.html*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: center;
  padding: 10px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/*names of article-writers in articlesmain.html*/
.authorNameMain {
  font-family: Georgia;
  display: block;
  font-weight: normal;
}

/*names of article-writers in articles*/
.authorName {
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  display: block;
  font-weight: lighter;
}

/*signature initials author in articles*/
.authorInitials {
  font-style: italic;
  font-weight: bold;
}

.articleHeading {
  font-weight: bolder;
  font-size: 24px;
}

/*from mostly articles*/
.containerParagraph {
  width: 60%;
  margin: 10% 20% 10% 20%;
  padding: 0 10px 40px 10px;
  /*background-color: #1E90FF;*/
  border: 4px solid #4e90ec; /*#B0E0E6;*/
  border-radius: 5px;
  /*color: #FFFFFF;*/
  font-weight: bold;
  box-shadow: 5px 5px 5px #888;
}

.grammarSentence {
  border: grey solid 3px;
  margin: 5px 2px;
  padding: 18px;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffffcc;
}

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 18px;
}

/*button for previous, next, etc. after articles*/
.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/**** BTN No. 1 ****/
.btn-1 {
  border: 2px solid #000;
}
.btn-1:hover {
  background: #000;
  color: #fff;
}
.btn-1:active {
  top: 2px;
}
.capture {
  border-color: #4e90ec;
  color: #4e90ec;
  background-color: #e9e9e5;
  width: 30vw;
  height: fit-content;
  border-width: 2px;
  text-align: center;
  border-style: solid;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.capture p {
  font-size: 15px;
}
.email-cont {
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
}
.email {
  height: 30px;
  width: 60%;
}
.save {
  background-color: #4e90ec;
  color: white;
  height: 30px;
  margin-left: 0px;
}

#image {
  max-width: 100%;
  width: 100%;
  height: auto;
  text-align: center;
  object-fit: fill;
  background: white;
}
